@model KalendarzKarieryData.Models.ViewModels.IndexViewModel

<div class="navigation-arrows"></div>

<div id="slides">
	<ul class="slides-container">
		<li>
			<div id="slide-item-lobby">
				<div id="siteNavLegendContainer">
					<div style="margin: 0 auto; margin-top: 16px; position: relative;">
						<div class="site-legend-border"></div>
						<div class="site-legend-border"></div>
						<div class="site-legend-border"></div>
					</div>
					<span>strona glówna</span>
					<span>kalendarz</span>
					<span>szczegóły</span>
				</div>
				<div id="lobbyBg">
					<img src="~/Images/kalendarzTloClear.png" alt="background" style="top: 0 !important" />
					<div class="dotted-page-overlay"></div>
					<div class="loader-container">wczytywanie...</div>
					@Html.Partial("_ConfirmationPopupBox")

					<section id="lobby" class="main-section">
						@Html.Partial("_Lobby")
					</section>

				</div>
				<div id="rightSideLobby" class="side"></div>
				<div id="rightSideLobbyTopPart"></div>
			</div>
		</li>
		<li>
			<div id="slide-item-calendar">
				<div id="leftSideCalendar" class="side">
				</div>
				<div id="calendarBg">
					<img src="~/Images/kalendarzTlo.png" alt="background" />
					<div class="dotted-page-overlay"></div>
					<div class="loader-container">wczytywanie...</div>
					@Html.Partial("_ConfirmationPopupBox")
					<section id="calendar" class="main-section">

						<!-- Calendar is added dynamically (calendarWidget.js)   -->

					</section>

					@Html.Partial("_AddNewEvent", new KalendarzKarieryData.Models.ViewModels.AddEventViewModel())
					@Html.Partial("_HoverEvent")

					<section id="calendarListView">
					</section>
				</div>
				<div id="rightSideCalendar" class="side"></div>
			</div>
		</li>
		<li>
			<div id="slide-item-details">
				<div id="detailsBg">
					<img src="~/Images/kalendarzTloClear.png" alt="background" />
					<div class="dotted-page-overlay"></div>
					<div class="loader-container">wczytywanie...</div>
					@Html.Partial("_ConfirmationPopupBox")
					<div id="details" class="main-section">
						@Html.Partial("_Details")
					</div>
				</div>
				<div id="leftSideDetails" class="side">
				</div>
			</div>
		</li>
	</ul>
</div>

<script type="text/javascript">

	$(function () {

		var mainProgram = {
			Initialize: function () {

				var $calendar = $("#calendar");
				var $details = $("#details");
				var $lobby = $("#lobby");

				var date = new Date();
				$calendar.calendarWidget({
					month: date.getMonth(), year: date.getFullYear()
				});

				var currentWeekday = $calendar.find(".today-cell").attr("weekday");

				var calendarViewModel = new CalendarViewModel(date.getFullYear(), date.getMonth() + 1, date.getDate(), currentWeekday, '@User.Identity.Name');

				var indexViewModel = @Html.Raw(Json.Encode(@Model));

				calendarViewModel.eventPrivacyLevels = indexViewModel.PrivacyLevels;
				calendarViewModel.eventKinds = indexViewModel.EventKinds;

				if (indexViewModel.MyEventsGroupedByMonth) {
					//console.log(indexViewModel.MyEventsGroupedByMonth);

					var eventTreeBuilder = new EventTreeBuilder(indexViewModel.MyEventsGroupedByMonth, calendarViewModel.eventTree);
					eventTreeBuilder.build();
				
					////////////////////////////////////////////
					//console.log(calendarViewModel.eventTree);
					////////////////////////////////////////////		

					/////////////////////////////////////////////////////////////////////////
					//assign calendarViewModel.myEvents and draw events to the calendar
					/////////////////////////////////////////////////////////////////////////
					var yearProp = calendarViewModel.eventTree[calendarViewModel.calendarPageDisplayDate.year()];
					var events, len, month, event;

					if (yearProp) {
						month = yearProp[calendarViewModel.calendarPageDisplayDate.month()]

						if (month) {
							for (var days in month) {
								events = month[days];
								len = events.length;
								for (var i = 0; i < len; i++) {
									event = events[i];
									calendarViewModel.myEvents.push(event);
									calendarViewModel.drawEventToCalendar(event);
								}
							}
						}					
					}

					//console.log(calendarViewModel.myEvents);
				}
				//////////////////////////////////////////////////////////////////
				//initialize details page
				//////////////////////////////////////////////////////////////////
				calendarViewModel.displayPageEventMostBottomRow = 1;
				calendarViewModel.detailsPageDisplayDate.year(date.getFullYear());
				calendarViewModel.detailsPageDisplayDate.month(date.getMonth() + 1);
				calendarViewModel.detailsPageDisplayDate.day(date.getDate());
				calendarViewModel.detailsPageDisplayDate.weekday(currentWeekday);

				var events = calendarViewModel.getEventsForGivenDay(date.getDate())
				calendarViewModel.detailsPageDayEvents(events);

				for (var i in events) {
					calendarViewModel.drawEventToDetailsDayTable(events[i]);
				}

				var $tableBody = $("#calendarDayDetailsTable .table-details-body");
				var h = (calendarViewModel.displayPageEventMostBottomRow + 1) * 46;
				$tableBody.height(h + "px");
				///////////////////////////////////////////////////////////////////

				////////////////////////////////////////////////
				//Knockout apply bindings
				////////////////////////////////////////////////
				ko.applyBindings(calendarViewModel);
	
				this.InitializeSlides = function(){
					location.hash = '#0';

					$('#slides').superslides({
						slide_easing: 'easeInOutCubic',
						slide_speed: 600,
						pagination: true,
						hashchange: true,
						scrollable: true
					});

					$(".slides-pagination a").on("click", function(){
					
						var hash = $(this).attr("href");
						if (hash === "#2") {
							var $scrollable = $("#slide-item-details").parent();
							
							setTimeout(function(){				
								$scrollable.scrollTop(0);
							}, 10)
							
						}else if(hash === "#1")
						{
						//TODO: not finished
							//setTimeout(function(){				
								
							//	var height1 = $("#calendar #calendarMenuHeader").height();
							//	var height2 = $("#calendar .weekday-container").height();
							//	var height3 = $("#calendar .calendar-hours-placeholder").first().height();
							//	var height4 = 42;
							//	var winHeight = $(window).height();

							//	var cellHeight = (winHeight - (height1 + height2 + height3 + 60)) / 6;

							//	$("#calendar .calendar-cell").css("height", cellHeight);

							//	console.log(cellHeight);

							//}, 10)

						}
					});
				}();

				$calendar.append('<div class="calendar-navigation-arrows-left"><img src="Images/Nav/arrow-Left.png" alt="arrow-left"/></div>');
				$calendar.append('<div class="calendar-navigation-arrows-right"><img src="Images/Nav/arrow-Right.png" alt="arrow-Right"/></div>');
				$details.append('<div class="details-navigation-arrows-left"><img src="Images/Nav/arrow-Left.png" alt="arrow-Left"/></div>');
				$lobby.append('<div class="lobby-navigation-arrows-right"><img src="Images/Nav/arrow-Right.png" alt="arrow-Right"/></div>');

				this.Initialize.InitializeHover = function () {

					var $container = $(".event-hover-container");
					var $mainContainer = $("#mainContainer");

					$mainContainer.on({
						mouseenter: function () {

							var name = $(this).find("input").attr("name");
							var address = $(this).find("input").attr("address");
							var startHour = $(this).find("input").attr("starthour");
							var endHour = $(this).find("input").attr("endhour");
							var startMinute = $(this).find("input").attr("startminute");
							var endMinute = $(this).find("input").attr("endminute");

							var width = $(this).width();
							var height = $(this).height();
							var offset = $(this).offset();

							$container.css("left", offset.left - 100 + width);
							$container.css("top", offset.top - height);

							$container.find(".event-hover-name").text(name);
							$container.find(".event-hover-adress").text(address);
							$container.find(".event-hover-startHour").text(startHour + " : " + startMinute);
							$container.find(".event-hover-endHour").text(endHour + " : " + endMinute);

							$container.show();
						},
						mouseleave: function () {
							$container.hide();
						}
					}, '.event-rectangle');

					//TODO: since also using css : hover, maybe remove jquery code?
					$(".hover-cursor-pointer").hover(function () {
						$(this).css({
							"cursor": "pointer"
						});
					}, function () {
						$(this).css({
							"cursor": "auto"
						});
					});

					//TODO: since also using css : hover, maybe remove jquery code?
					$(".link").hover(function () {
						$(this).css({
							"cursor": "pointer"
						});
					}, function () {
						$(this).css({
							"cursor": "auto"
						});
					});

					$mainContainer.on({
						mouseenter: function () {
							$(this).css({
								"border-bottom": "2px solid rgb(235,235,235)",
								"border-top": "2px solid rgb(250,250,250)",
								"cursor": "pointer",
								"-moz-box-shadow": "none",
								"-webkist-box-shadow": "none",
								"box-shadow": "none",
								"top": "3px"
							}).find(".addNewEvent-cellIcon").fadeIn();
						},
						mouseleave: function () {
							$(this).css({
								"border": "2px solid white",
								"cursor": "auto",
								"-moz-box-shadow": "0px 3px 5px rgb(235,235,235)",
								"-webkist-box-shadow": "0px 3px 5px rgb(235,235,235)",
								"box-shadow": "0px 3px 5px rgb(235,235,235)",
								"top": "0"
							}).find(".addNewEvent-cellIcon").hide();
						}
					}, '.current-month-cell');

					$mainContainer.on({
						mouseenter: function () {
							$(this).css({
								"cursor": "pointer",
								//"-moz-box-shadow": "none",
								//"-webkist-box-shadow": "none",
								//"box-shadow": "none",
								"top": "3px"
							}).find(".addNewEvent-cellIcon").fadeIn();
						},
						mouseleave: function () {
							$(this).css({
								"cursor": "auto",
								//"-moz-box-shadow": "0px 3px 5px #ddd",
								//"-webkist-box-shadow": "0px 3px 5px #ddd",
								//"box-shadow": "0px 3px 5px #ddd",
								"top": "0px"
							}).find(".addNewEvent-cellIcon").fadeOut();
						}
					}, '.other-month-cell');

					$mainContainer.on({
						mouseenter: function () {
							$(this).css("background", "rgb(160, 243, 169)");
						},
						mouseleave: function () {
							$(this).css("background", "rgb(225,225,225)");
						}
					}, '.light-icon');

					$mainContainer.on({
						mouseenter: function () {
							$(this).css("background", "rgb(160, 243, 169)");
						},
						mouseleave: function () {
							$(this).css("background", "rgb(188,188,188)");
						}
					}, '.dark-icon');

					$mainContainer.on({
						mouseenter: function () {
							$(this).css({
								"cursor": "pointer"
							});
						},
						mouseleave: function () {
							$(this).css({
								"cursor": "auto"
							});
						}
					}, ".month-name-calendar");

					//$(".menu-item").hover(function () {
					//	$(this).css({
					//		"cursor": "pointer",
					//		"font-size": ".9em"
					//	});
					//}, function () {
					//	$(this).css({
					//		"cursor": "auto",
					//		"font-size": ".8em"
					//	});
					//});

					$("#leftSide").hover(function () {
						$(this).css({
							"cursor": "pointer"
						});
					}, function () {
						$(this).css({
							"cursor": "auto"
						});
					});
					$("#rightSide").hover(function () {
						$(this).css({
							"cursor": "pointer"
						});
					}, function () {
						$(this).css({
							"cursor": "auto"
						});
					});

					var $leftSideCalendar = $("#leftSideCalendar");
					var $rightSideCalendar = $("#rightSideCalendar");
					var $leftSideDetails = $("#leftSideDetails");
					var $rightSideLobby = $("#rightSideLobby");
					var $rightSideLobbyTopPart = $("#rightSideLobbyTopPart");

					$leftSideCalendar.hover(function () {
						$(this).css({
							"backgroundPosition": "left",
							"cursor": "pointer"
						});
					}, function () {
						$(this).css({
							"backgroundPosition": "right",
							"cursor": "auto"
						});
					});
					$(".calendar-navigation-arrows-left").hover(function () {
						$(this).css({
							"cursor": "pointer"
						});

						$leftSideCalendar.css({
							"backgroundPosition": "left"

						});
					}, function () {
						$(this).css({
							"cursor": "auto"
						});
						$leftSideCalendar.css({
							"backgroundPosition": "right"

						});
					});
					$rightSideCalendar.hover(function () {
						$(this).css({
							"backgroundPosition": "right",
							"cursor": "pointer"
						});
					}, function () {
						$(this).css({
							"backgroundPosition": "left",
							"cursor": "auto"
						});
					});
					$(".calendar-navigation-arrows-right").hover(function () {
						$(this).css({
							"cursor": "pointer"
						});

						$rightSideCalendar.css({
							"backgroundPosition": "right"

						});
					}, function () {
						$(this).css({
							"cursor": "auto"
						});
						$rightSideCalendar.css({
							"backgroundPosition": "left"

						});
					});

					$(".lobby-navigation-arrows-right").hover(function () {
						$(this).css({
							"cursor": "pointer"
						});

						$rightSideLobby.css({
							"backgroundPosition": "right"

						});

						$rightSideLobbyTopPart.css({
							"backgroundPosition": "right"

						});

					}, function () {
						$(this).css({
							"cursor": "auto"
						});
						$rightSideLobby.css({
							"backgroundPosition": "left"

						});

						$rightSideLobbyTopPart.css({
							"backgroundPosition": "left"

						});
					});

					$(".details-navigation-arrows-left").hover(function () {
						$(this).css({
							"cursor": "pointer"
						});

						$leftSideDetails.css({
							"backgroundPosition": "left"

						});
					}, function () {
						$(this).css({
							"cursor": "auto"
						});
						$leftSideDetails.css({
							"backgroundPosition": "right"

						});
					});
					$leftSideDetails.hover(function () {
						$(this).css({
							"backgroundPosition": "left",
							"cursor": "pointer"
						});
					}, function () {
						$(this).css({
							"backgroundPosition": "right",
							"cursor": "auto"
						});
					});

					$rightSideLobby.hover(function () {
						$(this).css({
							"backgroundPosition": "right",
							"cursor": "pointer"
						});

						$rightSideLobbyTopPart.css({
							"backgroundPosition": "right"

						});

					}, function () {
						$(this).css({
							"backgroundPosition": "left",
							"cursor": "auto"
						});

						$rightSideLobbyTopPart.css({
							"backgroundPosition": "left"

						});
					});

					$rightSideLobbyTopPart.hover(function () {
						$(this).css({
							"backgroundPosition": "right",
							"cursor": "pointer"
						});

						$rightSideLobby.css({
							"backgroundPosition": "right"

						});

					}, function () {
						$(this).css({
							"backgroundPosition": "left",
							"cursor": "auto"
						});

						$rightSideLobby.css({
							"backgroundPosition": "left"

						});
					});

					var $pixHover = $(".1px-hover");

					$pixHover.hover(function () {
						$(this).css({
							"bottom": "0"
						});
					}, function () {
						$(this).css({
							"bottom": "1px"
						});
					});

					$("#btnAddNewEvent").hover(function () {
						$(this).css({
							"cursor": "pointer"
						});
					}, function () {
						$(this).css({
							"cursor": "auto"
						});
					});

					$(".login-link").hover(function () {
						$(this).css({
							"color":"rgb(73, 226, 140)"						
						});
					}, function () {
						$(this).css({
							"color":"gray"
						});
					});

				}();

				this.Initialize.InitializeClick = function () {
					//validation of dates

					//register user
					var $txtbox = $("#registerPageContainer .register-birthdate-txtbox");
					$txtbox.keyup(function(){			
						$("#registerPageContainer #birthDateValidationErrorMsg").hide();
						$txtbox.removeClass("input-validation-error");			
					});

					var $txtbox = $("#addNewEventContainer .event-startdate-txtbox");
					$txtbox.keyup(function(){			
						$("#addNewEventContainer #dateValidationErrorMsg").hide();
						$txtbox.removeClass("input-validation-error");			
					});


					//add new event end hour and end minute select box
					var $endDate = $("#addNewEventContainer .end-date-selectbox");
					$endDate.change(function(){
						$endDate.removeClass("input-validation-error");
						$("#addNewEventContainer #endDateValidationErrorMsg").hide();
					});

					//$(".szkolenia-btn").click(function () {
					//	$(".selected-content-container").slideUp("slow");
					//});

					//$(".menu-item-container").click(function () {

					//	$(".selected-content-container").slideDown("slow");
					//});

					//$(".moje-sprawy-text").click(function () {

					//	$("#moje-sprawy-container").slideDown();
					//});

					//$(".moje-sprawy-btn").click(function () {

					//	$("#moje-sprawy-container").slideUp();
					//});

					var $mainContainer = $("#mainContainer");

					//$mainContainer.on("click", ".calendar-cell", function (event) {
					//	window.location = "#2";
					//});

					$mainContainer.on("click", "#leftSideCalendar", function (event) {
						window.location = "#0";
					});
					$mainContainer.on("click", ".calendar-navigation-arrows-left", function (event) {
						window.location = "#0";
					});
					$mainContainer.on("click", "#rightSideCalendar", function (event) {
						window.location = "#2";
					});
					$mainContainer.on("click", ".calendar-navigation-arrows-right", function (event) {
						window.location = "#2";
					});
					$mainContainer.on("click", "#rightSideLobby", function (event) {
						window.location = "#1";
					});
					$mainContainer.on("click", ".lobby-navigation-arrows-right", function (event) {
						window.location = "#1";
					});
					$mainContainer.on("click", "#leftSideDetails", function (event) {
						window.location = "#1";
					});
					$mainContainer.on("click", ".details-navigation-arrows-left", function (event) {
						window.location = "#1";
					});

				}();

			}
		};

		mainProgram.Initialize();

	});

</script>
