@model KalendarzKarieryData.Models.ViewModels.MainViewModel

<div id="dzieuo">

	<section id="lobby" class="dz-column">
		@Html.Partial( "_Lobby" )
	</section>

	<section id="calendar" class="dz-column">
		<div id="calendarWidget" class="dz-row">

			<!-- Calendar is added dynamically (calendarWidget.js)   -->

		</div>
	</section>

	<section id="details" class="dz-column">
		@Html.Partial( "_Details", @Model.RegisterViewModel )
	</section>

</div>

@* Lib  *@

@Scripts.Render( "~/bundles/jquery" )
@Scripts.Render( "~/bundles/jqueryval" )
@Scripts.Render( "~/bundles/modernizr" )
@Scripts.Render( "~/bundles/knockout" )

<script src="~/Scripts/Lib/raphael-min.js"></script>

<script src="~/Scripts/Lib/SpinJS/spin.min.js"></script>
<script src="~/Scripts/Lib/Masonry/masonry-docs.min.js"></script>
<script src="~/Scripts/KnockoutCustomBindings/KOCustomBindings.js"></script>
<script src="~/Scripts/CalendarWidget/calendarWidget.js"></script>

<script src="~/Scripts/Lib/DzieuoJs/jquery.animate-enhanced.min.js"></script>
<script src="~/Scripts/Lib/DzieuoJs/jquery.easing.1.3.js"></script>
<script src="~/Scripts/Lib/DzieuoJs/dzieuo.js"></script>

@* Models *@

<script src="~/Scripts/JSModels/KKEventModel.js"></script>
<script src="~/Scripts/JSModels/KKEventModelObservable.js"></script>
<script src="~/Scripts/JSModels/KKNoteModel.js"></script>
<script src="~/Scripts/JSModels/KKNoteModelObservable.js"></script>
<script src="~/Scripts/JSModels/KKDateModel.js"></script>
<script src="~/Scripts/JSModels/KKEventDateModel.js"></script>
<script src="~/Scripts/JSModels/KKEventDateModelObservable.js"></script>
<script src="~/Scripts/JSViewModels/AppViewModel.js"></script>

@* Utils *@

<script src="~/Scripts/JSUtils/EventColorHelper.js"></script>
<script src="~/Scripts/JSUtils/TreeBuilder.js"></script>
<script src="~/Scripts/JSUtils/WebApiCaller.js"></script>
<script src="~/Scripts/JSUtils/SimpleFilt.js"></script>

@* Managers *@

<script src="~/Scripts/JSManagers/EventManager.js"></script>
<script src="~/Scripts/JSManagers/NoteManager.js"></script>

@* Program *@

<script src="~/Scripts/Program.js"></script>

<script type="text/javascript">

	$(function () { 
		"use strict";
		//////////////////////////
		//Start of application
		//////////////////////////
		var PROGRAM = Program;
		var spinner = PROGRAM.initializeLoader();

		var indexViewModel = @Html.Raw( Json.Encode( @Model.IndexViewModel ) );
		var userName = '@User.Identity.Name.ToLower()';
		

		$('#dzieuo').dzieuo({
			'row_scroll_padding_top': 20
		});

		$("#dzVerticalPaging").addClass("xs-hide");
	
		PROGRAM.initializeJQueryExtentionMethods(SIMPLE_FILT());
		PROGRAM.initialize(indexViewModel, userName, spinner);
	});

</script>
