@model KalendarzKarieryData.Models.ViewModels.MainViewModel

<div class="navigation-arrows"></div>

<div id="slides">
	<ul class="slides-container">
		<li>
			<div id="slide-item-lobby">
				<div id="lobbyBg">
					@*<img src="~/Images/KalendarzTlo.png" alt="background" />*@
					<div class="dotted-page-overlay"></div>
					@Html.Partial( "_ConfirmationPopupBox" )

					<section id="lobby" class="main-section">
						@Html.Partial( "_Lobby" )
					</section>

				</div>
				<div id="rightSideLobby" class="side"></div>
				<div id="rightSideLobbyTopPart"></div>
			</div>
		</li>
		<li>
			<div id="slide-item-calendar">
				<div id="leftSideCalendar" class="side">
				</div>
				<div id="calendarBg">
					@*<img src="~/Images/KalendarzTlo.png" alt="background" />*@
					<div class="dotted-page-overlay"></div>
					@Html.Partial( "_ConfirmationPopupBox" )
					<section id="calendar" class="main-section">

						<!-- Calendar is added dynamically (calendarWidget.js)   -->

					</section>
					@Html.Partial( "_AddNewEvent", new KalendarzKarieryData.Models.ViewModels.AddEventViewModel() )
					@Html.Partial( "_HoverEvent" )
					<section id="calendarListView">
					</section>
				</div>
				<div id="rightSideCalendar" class="side"></div>
			</div>
		</li>
		<li>
			<div id="slide-item-details">
				<div id="detailsBg">
					@*<img src="~/Images/KalendarzTlo.png" alt="background" />*@
					<div class="dotted-page-overlay"></div>
					@Html.Partial( "_ConfirmationPopupBox" )
					<div id="details" class="main-section">
						@Html.Partial( "_Details", @Model.RegisterViewModel )
					</div>
				</div>
				<div id="leftSideDetails" class="side">
				</div>
			</div>
		</li>
	</ul>
</div>

@* Lib  *@

@Scripts.Render( "~/bundles/jquery" )
@Scripts.Render( "~/bundles/jqueryval" )
@Scripts.Render( "~/bundles/modernizr" )
@Scripts.Render( "~/bundles/knockout" )

<script src="~/Scripts/Lib/raphael-min.js"></script>

<script src="~/Scripts/Lib/SpinJS/spin.min.js"></script>
<script src="~/Scripts/Lib/Masonry/masonry-docs.min.js"></script>
<script src="~/Scripts/KnockoutCustomBindings/KOCustomBindings.js"></script>
<script src="~/Scripts/CalendarWidget/calendarWidget.js"></script>
<script src="~/Scripts/CalendarWidget/Slider/jquery.animate-enhanced.min.js"></script>
<script src="~/Scripts/CalendarWidget/Slider/jquery.easing.1.3.js"></script>
<script src="~/Scripts/CalendarWidget/Slider/jquery.superslides.min.js"></script>

@* Models *@

<script src="~/Scripts/JSModels/KKEventModel.js"></script>
<script src="~/Scripts/JSModels/KKEventModelObservable.js"></script>
<script src="~/Scripts/JSModels/KKNoteModel.js"></script>
<script src="~/Scripts/JSModels/KKNoteModelObservable.js"></script>
<script src="~/Scripts/JSModels/KKDateModel.js"></script>
<script src="~/Scripts/JSModels/KKEventDateModel.js"></script>
<script src="~/Scripts/JSModels/KKEventDateModelObservable.js"></script>
<script src="~/Scripts/JSViewModels/AppViewModel.js"></script>

@* Utils *@

<script src="~/Scripts/JSUtils/EventColorHelper.js"></script>
<script src="~/Scripts/JSUtils/TreeBuilder.js"></script>
<script src="~/Scripts/JSUtils/WebApiCaller.js"></script>
<script src="~/Scripts/JSUtils/SimpleFilt.js"></script>

@* Managers *@

<script src="~/Scripts/JSManagers/EventManager.js"></script>
<script src="~/Scripts/JSManagers/NoteManager.js"></script>

@* Program *@

<script src="~/Scripts/Program.js"></script>

<script type="text/javascript">

	$(function () { 
		"use strict";

		//////////////////////////
		//Start of application
		//////////////////////////
		var indexViewModel = @Html.Raw( Json.Encode( @Model.IndexViewModel ) );
		var userName = '@User.Identity.Name.ToLower()';

		var PROGRAM = Program;

		//used in jquery.superslides to initialize Masonry grid plugin when superslides fades in.
		window.initializeEventGrid = PROGRAM.initializeEventGrid;	

		PROGRAM.initializeJQueryExtentionMethods(SIMPLE_FILT());
		PROGRAM.initializeAndStartSpinner();
		PROGRAM.initialize(indexViewModel, userName);

	});

</script>
