@*<div id="addPrivateEventBtn" class="hover-cursor-pointer" data-bind="click: function ( data, e ) { $root.showAddPrivateEventLobbyPopupOnClick( $element, data, e ) }">Dodaj do swojego kalendarza +</div>*@
<div class="lobby-overview">
	<div class="inline-block" style="width: 51%;position:relative;top:-1px;">
		<div class="overview-events-list-container">
			<div class="dashboard-title"><span class="selected">Nadchodzące publiczne wydarzenia</span></div>
			<ul data-bind="foreach: $root.lobbyPage.dashboardPart.upcomingPublicEventsVM">
				@Html.Partial( "_EventListItem",  new ViewDataDictionary { { "page", "lobby" } } )
			</ul>
		</div>
		<div class="overview-events-list-container">
			<div class="dashboard-title"><span class="selected">Najnowsze publiczne wydarzenia</span></div>
			<ul data-bind="foreach: $root.lobbyPage.dashboardPart.recenlyAddedPublicEventsVM">
				@Html.Partial( "_EventListItem",  new ViewDataDictionary { { "page", "lobby" } } )
			</ul>
		</div>
	</div>
	<div class="inline-block" style="width: 49%; float: right; color: white;position:relative;top:-1px;">
		<div class="overview-events-list-container">
			<div class="dashboard-title"><span class="selected">Mój kalendarz</span></div>

			<h4 style="font-weight: normal; color: #a7a2a2; padding-left: 10px;">dzisiaj</h4>


			<ul class="dashboard-calendar-list today-dashboard-list" data-bind="foreach: $root.lobbyPage.dashboardPart.myCalendarVM.today">
				@Html.Partial( "_EventListItem",  new ViewDataDictionary { { "page", "lobby" } } )
			</ul>

			<h4 style="font-weight: normal; color: #a7a2a2; padding-left: 10px;">jutro</h4>


			<ul class="dashboard-calendar-list" data-bind="foreach: $root.lobbyPage.dashboardPart.myCalendarVM.tommorow">
				@Html.Partial( "_EventListItem",  new ViewDataDictionary { { "page", "lobby" } } )
			</ul>

			<h4 style="font-weight: normal; color: #a7a2a2; padding-left: 10px;">pojutrze</h4>


			<ul class="dashboard-calendar-list" data-bind="foreach: $root.lobbyPage.dashboardPart.myCalendarVM.dayAfterTommorow">
				@Html.Partial( "_EventListItem",  new ViewDataDictionary { { "page", "lobby" } } )
			</ul>

		</div>
	</div>
</div>
