<section class="dz-row nav-part">

	@Html.Partial( "_NavPart" )

</section>
<section class="dz-row dashboard-part" style="background: rgb(236, 236, 236); border-top: 1px solid #e2e2e2;">

	@Html.Partial( "_DashboardPart" )

</section>
<section class="dz-row upcoming-events-part" style="overflow: hidden;">
	<header class="section-title">Nadchodzące wydarzenia</header>

	@Html.Partial( "_UpcomingEventsPart" )

</section>
<section class="dz-row event-grid-part">
	<header class="section-title">Tablica wydarzeń</header>

	@Html.Partial("_EventGridPart");

	@*	@Html.Partial( "_LobbyNews" )*@
	<footer class="lobby-footer">
		<span>Kalendarz Kariery 2015, wszelkie prawa zastrzeżone</span>
	</footer>
</section>







