<header class="lobby-header">
	<div id="lobbyLogo">
	</div>

	@if (Request.IsAuthenticated)
 {
		@Html.Partial( "_LobbyLoggedInBar" )			 
 }
 else
 {
		@Html.Partial( "_LobbyNotLoggedInBar" )			 
 }
</header>

<div class="lobby-body">
	<section id="lobbyQuoteAndNavSection">
		<div id="lobbyQuoteContainer">
			<span>Twój osobisty kalendarz stworzony na miare Twoich potrzeb.</span>
		</div>
		<nav id="lobbyNavContainer">
			<div class="lobby-nav-link-container selected-nav-link">
				<a href="#0">Strona Główna</a>
			</div>
			<div class="lobby-nav-link-container">
				<a href="#1">Kalendarz</a>
			</div>
			<div class="lobby-nav-link-container">
				<a href="#2">Dziennik</a>
			</div>
		</nav>
	</section>

	<div id="addPrivateEventBtn" class="add-btn hover-cursor-pointer" data-bind="click: function ( data, e ) { $root.showAddPrivateEventLobbyPopupOnClick( $element, data, e ) }">Dodaj do swojego kalendarza +</div>
	<header class="title-header">Tablica wydarzeń</header>

	<section id="lobbyTableOfEventsSection">
		@Html.Partial( "_LobbyEventsMenuItems" )
		@Html.Partial( "_LobbyAllSelectedEventsList" )
	</section>

	<section id="lobbyEventsDisplaySection">
		@Html.Partial( "_LobbyEventsDisplay" )
	</section>

	@Html.Partial( "_LobbyNews" )
</div>

<footer class="lobby-footer">
	<span>Kalendarz Kariery 2015, wszelkie prawa zastrzezone</span>
</footer>
